{% extends "base_generic.html" %}

{% block title %}<title>SB Admin - Start Bootstrap Template</title> {% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Contact Professor</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>Professors</h1>
          {% for contact in contact %}
          <div style="width:500px;height:100px;border:1px solid #000;">Professor: {{contact.name}}
            <p>Email: {{contact.email}}</p>
            <p>Phone: {{contact.phone}}</p>
            <p>Office: {{contact.office}}</p>
            <p>Office Hours: {{contact.hours}}</p>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}
