{% extends "base_generic.html" %}

{% block title %}<title>SB Admin - Start Bootstrap Template</title> {% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Contact Professor</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>Professors</h1>
          <div style="width:500px;height:100px;border:1px solid #000;">Professor: James Cameron
            <p>Email: jamesCameron@gmail.com</p>
            <p>Phone: 800-000-0000</p>
          </div>
          <div style="width:500px;height:100px;border:1px solid #000;">Professor: hamilton esquire
            <p>Email: goinHAM@gmail.com</p>
            <p>Phone: 800-000-0000</p>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
