{% extends "base_generic.html" %}

{% block title %}<title>HomeWork Page</title> {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">


{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Homework Organizer</li>
      </ol>
      <div class="row">
        <div class="form-group">
			<label for="sel1">Class:</label>
			<select class="select" id="sel1" onchange="f(this)">
				<option value ="m551">MATH 551</option>
				<option value ="c326">COMPSCI 326</option>
				<option value = "c453">COMPSCI 453</option>
				<option value ="c345">COMPSCI 345</option>
			</select>
		</div>

      </div>
	  <div id ='m5'>
			<div class="container" id="main">
            <h1>Assignments</h1>
            <form role="form" id="main_input_box1">
                <label>
                    <input type="text" class="form-control" id="custom_textbox" name="Item" placeholder="Assignment Name">
					<input type="text" class="form-control" id="custom_textbox2" name="Due" placeholder="Due Date">
                    <input type="submit" value="Add" class="btn btn-primary add_button">
                </label>
            </form>
            <form>
                <ol class="list-group list_of_items1"></ol>
            </form>
        </div>
	  </div>
		<div class='hidden' id ='c3'>
			<div class="container" id="main">
            <h1>Assignments</h1>
            <form role="form" id="main_input_box2">
                <label>
                    <input type="text" class="form-control" id="custom_textbox3" name="Item" placeholder="Assignment Name">
					<input type="text" class="form-control" id="custom_textbox4" name="Due" placeholder="Due Date">
                    <input type="submit" value="Add" class="btn btn-primary add_button">
                </label>
            </form>
            <form>
                <ol class="list-group list_of_items2"></ol>
            </form>
        </div>
		</div>
		<div class='hidden' id ='c34'>
			<div class="container" id="main">
            <h1>Assignments</h1>
            <form role="form" id="main_input_box3">
                <label>
                    <input type="text" class="form-control" id="custom_textbox5" name="Item" placeholder="Assignment Name">
					<input type="text" class="form-control" id="custom_textbox6" name="Due" placeholder="Due Date">
                    <input type="submit" value="Add" class="btn btn-primary add_button">
                </label>
            </form>
            <form>
                <ol class="list-group list_of_items3"></ol>
            </form>
        </div>
		</div>
		<div class='hidden' id ='c4'>
			<div class="container" id="main">
            <h1>Assignments</h1>
            <form role="form" id="main_input_box4">
                <label>
                    <input type="text" class="form-control" id="custom_textbox7" name="Item" placeholder="Assignment Name">
					<input type="text" class="form-control" id="custom_textbox8" name="Due" placeholder="Due Date">
                    <input type="submit" value="Add" class="btn btn-primary add_button">
                </label>
            </form>
            <form>
                <ol class="list-group list_of_items4"></ol>
            </form>
        </div>
		</div>
    </div>

  {% endblock %}
