{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Homework</title> {% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Homework Organizer</li>
      </ol>
      
        
		<div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Assignments</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;height:100px;border:1px solid #000"><p style=";text-decoration:underline">{{class.name}}:</p>
          {% for hw in homeworkorganizer %}
          {% if hw.classes == class %}
            <p><br></br></p>
            <p style="text-indent: 4em">-{{hw.title}}</p>
            <p style="text-indent: 5em">Due: {{hw.duedate}}</p>
          {% endif %}
          </div>
          {% endfor %}
          
          {% endfor %}
          </div>

        </div>
	  
		</div>
    

  {% endblock %}
