{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Notepad</title> {% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Notepad</li>
      </ol>

      <div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Notes</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;overflow:auto;minimum-height:100px;border:1px solid #000"><p style=";text-decoration:underline">{{class.name}}:</p>
            <form role="form" action="newnote/" method="post">
              {% csrf_token %}
              {{ form.errors }}
              {{ form.non_field_errors }}
                <label>
                    <input type="text" class="form-control" id="" name="note" placeholder="Write a new note...">
                    <input type="text" class="form-control" id="" name="classes" placeholder="class name">
                    <input type="text" class="form-control" id="" name="title" placeholder="title">
                    <input type="submit" value="New Note" class="btn btn-primary add_button">
                </label>
            </form>
          {% for note in notepad %}
          {% if note.classes == class %}
            <p><br></br></p>
            <p style="text-indent: 4em">-{{note.title}}</p>
            <p style="text-indent: 5em">{{note.note}}</p>
          {% endif %}
          </div>
          {% endfor %}

          {% endfor %}
          </div>

        </div>


  {% endblock %}
