{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Notepad</title> {% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Student Main</a>
        </li>
        <li class="breadcrumb-item active">Notepad</li>
      </ol>

      <div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Notes</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;overflow:auto;minimum-height:100px;border:1px solid #000"><p style=";text-decoration:underline">{{class.name}}:</p>
            
          {% for note in notepad %}
          {% if note.classes == class %}
            <p><br></br></p>
            <p>-{{note.title}}</p>
            <p style="text-indent: 5em">{{note.note}}</p>
          {% endif %}
          
          {% endfor %}
            </div>
          {% endfor %}
          <p><br></br></p>
          <p>
            <form action="newnote/" method="POST">
			<label style="font-weight:bold">New Note</label><br></br>
              {% csrf_token %}
					{{ form }}
                    <input type="submit" value="Submit">
                
            </form></p>
          </div>
          
           

        </div>
       


  {% endblock %}
