{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Study Group</title> {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Student Main</a>
  </li>
  <li class="breadcrumb-item active">Study Group</li>
</ol>



<div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Your Chats</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;overflow:auto;border:1px solid #000;">
                <p style="text-decoration:underline">{{class.name}}</p><br></br>
                {% for chat in chatposts %}
                
                {% if chat.classs == class %}
                <p>{{chat.student}}: {{chat.message}} ({{chat.time}})</p><br></br>
                {% endif %}
                {% endfor %}
          </div>
          {% endfor %}
		  <br> </br>
		  <p>
            <form action="newchat/" method="POST">
			<label>New Message</label><br></br>
              {% csrf_token %}
					{{ form }}
                    <input type="submit" value="Submit"">
                
            </form></p>
          <p><br></br></p>

        </div>
      </div>


{% endblock %}
