{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Study Group</title> {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Student Main</a>
  </li>
  <li class="breadcrumb-item active">Study Group</li>
</ol>



<div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Your Chats</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;height:100px;border:1px solid #000;">{{class.chat|linebreaks}}
          <p>**INSERT FORM TO ADD TO CHAT HERE</p>
          <p><br></br></p>
          </div>
          {% endfor %}

        </div>
      </div>


{% endblock %}
