{% extends "base_generic.html" %}

{% block title %}<title>Spoodle-Study Group</title> {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Student Main</a>
  </li>
  <li class="breadcrumb-item active">Study Group</li>
</ol>



<div class="row">
        <div class="col-12">
          <h1 style="font-weight:bold">Your Chats</h1>
          <p><br></br></p>
          {% for class in classlist %}
          <div style="width:500px;overflow:auto;border:1px solid #000;">{{class.chat|linebreaks}}
          <p>
            <form role="form" action="newchat/" method="post">
              {% csrf_token %}
              {{ form.errors }}
              {{ form.non_field_errors }}
                <label>
                    <input type="text" class="form-control" id="" name="chat" placeholder="Type a message...">
                    <input type="submit" value="Send Message" class="btn btn-primary add_button">
                </label>
            </form></p>
          <p><br></br></p>
          </div>
          {% endfor %}

        </div>
      </div>


{% endblock %}
