{% extends "base_generic.html" %}

{% block title %}<title>SB Admin - Start Bootstrap Template</title> {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Student Main</a>
  </li>
  <li class="breadcrumb-item active">To Do</li>
</ol>
<!-- To Do List Code all here-->
  <div class="container" id="main">
      <h1 style = strong>To Do List</h1>
      <form role="form" action="newtodo/" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
          <label>
              <input type="text" class="form-control" id="" name="activity" placeholder="What do you need to do?">
              <input type="submit" value="Add" class="btn btn-primary add_button">
          </label>
      </form>
      <form>
          <ol class="list-group list_of_items">
          {% for todo in todos %}
          <li>
            <h2>{{forloop.counter}}. {{todo}} <a href="{% url 'todo_update' todo.pk %}">Update</a> <a href="{% url 'todo_delete' todo.pk %}">Delete</a></h2>
          </li>
         {% endfor %}</ol>
      </form>
  </div>

{% endblock %}
