{% extends "base_generic.html" %}

{% block title %}<title>SB Admin - Start Bootstrap Template</title> {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Student Main</a>
  </li>
  <li class="breadcrumb-item active">To Do</li>
</ol>
<!-- To Do List Code all here-->
  <div class="container" id="main">
      <h1 style = strong>To Do List</h1>
      <form role="form" id="main_input_box">
          <label>
              <input type="text" class="form-control" id="custom_textbox" name="Item" placeholder="What do you need to do?">
              <input type="submit" value="Add" class="btn btn-primary add_button">
          </label>
      </form>
      <form>
          <ol class="list-group list_of_items">
          {% for todo in todos %}
          <li>
            <h2>{{forloop.counter}}. {{todo}}</h2>
          </li>
         {% endfor %}</ol>
      </form>
  </div>

{% endblock %}
